.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
}

/* makes the things on the lists bounce */ 
#bio {
    animation-delay: 1s;
}

#l1 {
    animation-delay: 2s;
}

#l2 {
    animation-delay: 2.5s;
}

#l3 {
    animation-delay: 3s;
}

#programminglangs {
    animation-delay: 3.5s;
}

#languagesspoken {
    animation-delay: 4s;
}

#accomplishments {
    animation-delay: 4.5s;
}


/* controls everything for the header, makes it stick to top*/
header {
    border-style: solid;
    border-color: white;
    background-color: white;
    text-align: left;
    overflow: hidden;
    position: fixed;
    line-height: 100%;
    top: 0;
    right: 0;
    width: 100%;
    font-weight: bold;
    font-size: 2em;
}

h1 {
    margin-top: 4%;
    text-align: center;
    /* border-style: solid; */
}

#bio {
    margin-top: -4%;
    text-align: center;
    font-weight: bold;
}

#container {
    position: relative;
}

#lists {
    position: absolute;
    left: 15%;
    /* border-style: solid; */
    /* border-color: white; */
    width: 70vw;    /* SET TO 70vw */
    height: 90vh;   /* SET TO 60vh */
}

#list1 {
    position: absolute;
    /* border-style: solid; */
    /* border-color: white; */
    top: 8%;
    right: 20%;
}

#list2 {
    position: absolute;
    /* border-style: solid; */
    /* border-color: white; */
    top: 8%;
    left: 20%;
}

h2 {
    margin-left: -1%;
    color: white;
}

ul {
    color: white;
}

nav > a{
    text-decoration: none;
    color: black;
    margin-left: 2vw;
}

/* makes arrow to scroll down change colours 
footer {
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}
*/

nav > a:hover {
    color: blue;
}

