.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
}
/* controls everything for the header, makes it stick to top*/
header {
    border-style: solid;
    border-color: white;
    background-color: white;
    text-align: left;
    overflow: hidden;
    position: fixed;
    line-height: 100%;
    top: 0;
    right: 0;
    width: 100%;
    font-weight: bold;
    font-size: 1.5em;
}

#programminglangs {
    margin-top: -3%;
}

h2 {
    margin-left: -1%;
    color: white;
}

ul {
    color: white;
}

nav > a{
    text-decoration: none;
    color: black;
    margin-left: 2vw;
}

/* for writing purposes only 
body {
    background-image: none;
}
*/

span {
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

nav > a {
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}
