.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
}

#programminglangs, #languagesspoken, #accomplishments {
    animation-delay: 1s;
}

/* controls everything for the header, makes it stick to top*/
header {
    border-style: solid;
    border-color: white;
    background-color: white;
    text-align: left;
    overflow: hidden;
    position: fixed;
    line-height: 100%;
    top: 0;
    right: 0;
    width: 100%;
    font-weight: bold;
    font-size: 1.5em;
}

h1 {
    text-align: center;
}

/* lines all the lists side by side in the most primitive way */
#lists {
    margin-left: 5%;
}
#programminglangs {
    position: absolute;
    top: 21%;
}

#languagesspoken {
    position: absolute;
    top: 21%;
    margin-left: 33%;
}

#accomplishments {
    position: absolute;
    top: 21%;
    margin-left: 70%;
}

h2 {
    margin-left: -1%;
    color: white;
}

ul {
    color: white;
}

nav > a{
    text-decoration: none;
    color: black;
    margin-left: 2vw;
}

/* for writing purposes only 
body {
    background-image: none;
}*/

#about {
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

nav > a {
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}
