h1 {
    text-align: left;
    font-size: 6em;
    margin-left: 1vw;
}

p {
    text-align-last: left;
    font-size: 1.5em;
    margin-left: 1vw;
}

body {
    background-image: url(images/ocean1.png);
}